.freelance {
    padding: 50px 0;
    background: #252527;
}
.freelanceBtnWrapper {
    text-align: center;
}
.freelanceBtn {
    padding: 5px 10px;
    background: #1F1F20;
    color: #ffffff;
    border: 1px solid #EA548D;
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}